<div class="wrap" *ngIf="!imageSrc else showImage" appDnd (files)="filesDropped($event)">
    <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
    <span>Перенесите изображение</span>
    <span>или</span>
    <button mat-raised-button (click)="fileInput.click()">Выберите изображение</button>
    <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
</div>

<ng-template #showImage>
    <div class="wrap" appDnd (files)="filesDropped($event)">
        <img [src]="imageSrc" class="image-preview">
    </div>
</ng-template>
